@{
    ViewData["Title"] = "Enviar Arquivo";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Enviar Arquivo</h2>

    <form asp-action="EnviarArquivo" method="post" enctype="multipart/form-data" class="card p-4 shadow">
        <div class="mb-3">
            <label for="arquivo" class="form-label">Escolha um arquivo:</label>
            <input type="file" class="form-control" name="arquivo" id="arquivo" required />
        </div>

        <div class="mb-3">
            <label for="descricao" class="form-label">Tipo de Arquivo:</label>
            @*<input type="text" class="form-control" name="descricao" id="descricao" value="MTP240" />*@
            <select class="form-select" name="descricao" id="descricao">
                <option value="COB400" selected>COB400</option>
                <option value="MTP240">MTP240</option>
            </select>
        </div>

        <div class="d-grid">
            <button type="submit" class="btn btn-primary btn-lg">Enviar Arquivo</button>
        </div>
    </form>


    @if (ViewBag.Mensagem != null)
    {
        if (ViewBag.Mensagem == "Arquivo processado corretamente!")
        {
            <div class="alert alert-info">
                <p>@ViewBag.Mensagem</p>
            </div>
        }
        else
        {
            dynamic mensagem = null;
            try
            {
                mensagem = Newtonsoft.Json.JsonConvert.DeserializeObject<dynamic>(ViewBag.Mensagem);
            }
            catch (Exception ex)
            {
                <div class="alert alert-danger">
                    <p>Erro ao desserializar mensagem: @Html.Raw(ex.Message)</p>
                </div>
            }

            if (mensagem != null)
            {
                <div id="mensagemBackend" class="alert alert-info">
                    @if (mensagem.erro != null)
                    {
                        <p class="text-break">@Html.Raw(mensagem.erro)</p>
                    }
                    else if (mensagem.erros != null)
                    {
                        <ul class="text-break">
                            @foreach (var erro in mensagem.erros)
                            {
                                <li>@Html.Raw(erro)</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p class="text-break">@Html.Raw(mensagem)</p>
                    }
                </div>
            }
        }
    }

</div>
<script>
    document.querySelector('form').addEventListener('submit', function () {
        // Limpa a div de mensagens antes de enviar o formulário
        const mensagemBackend = document.getElementById('mensagemBackend');
        if (mensagemBackend) {
            mensagemBackend.innerHTML = '';
            mensagemBackend.className = ''; // Opcional: remove classes da div
        }
    });
</script>

